.center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}


.page-width {
  margin: auto;
  max-width: calc(1600px - 80px);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.uppercase {
  text-transform: uppercase;
}

.text-black {
  color: #22282A;
}

.color-white {
  color: #F6F9FB;
}


.text-normal {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0%;
  vertical-align: middle;
}

.p-10 {
  padding: 10px;
}

.font-bold {
  font-weight: bold;
}

.text-main {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
}

.main-heading {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 48.83px;
  line-height: 48.83px;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.heading {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 39.06px;
  line-height: 39.06px;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.list-none {
  list-style: none;
}

.text-deco-none {
  text-decoration: none;
}

.gap-30 {
  gap: 30px;
}

.gap-15 {
  gap: 15px;
}

.button {
  border-radius: 999px;
  padding: 20px 40px;
  outline: 1px solid gainsboro;
}

.pairmay-btn {
  background-color: #A9C7D4;
  color: white
}

.secondry-btn {
  background-color: transparent;
  color: #22282A;
  outline: 1px solid #D1D1D1;
}